.image-drag-drop-view {
    width     : 100%;
    height    : 100%;
    background: rgb(177, 88, 15);
    background: linear-gradient(0deg, rgba(177, 88, 15, 1) 0%, rgba(194, 96, 16, 1) 35%, rgba(255, 179, 0, 1) 100%);

    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    box-sizing     : border-box;
    padding        : 0px 30px 30px;

    .view-header {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 10px;
    }

    .view-container {
        display      : flex;
        background   : #FFF;
        border       : solid 2px rgba(255, 255, 255, 0.25);
        border-radius: 9px;

        width : 100%;
        height: 100%;
    }
}