.App {
    width : 100%;
    height: 100%;
}

.drag-drop-container {
    width         : 100%;
    padding       : 30px;
    display       : flex;
    flex-direction: column;
    row-gap       : 20px;
}

.drag-container,
.drop-container {
    width  : 100%;
    display: flex;
    gap    : 20px;

    &>div {
        flex-grow : 1;
        flex-basis: 50%;
    }
}

.drag-wrapper {
    border       : dashed 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    min-height   : 90px;
}

.drop-zone {
    border       : dashed 2px rgba(0, 0, 0, 0.2);
    box-shadow   : 0 0 6px rgba(19, 76, 201, 0.1);
    min-height   : 200px;
    padding      : 15px;
    border-radius: 6px;

    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    gap            : 10px;
    align-items    : flex-start;
    align-content  : flex-start;
    justify-content: flex-start;

    h3 {
        margin: 0;
    }

    &.is-over {
        border: solid 2px rgba(0, 120, 20, 0.8);
    }

    .drop-item {
        padding      : 15px;
        border       : solid 1px rgba(0, 0, 0, 0.25);
        box-shadow   : 0 0 3px rgba(19, 76, 201, 0.226);
        border-radius: 3px;
    }
}

.drop-zone-title {
    margin: 0;
}